<% if user_signed_in? %>
<div class="container-fluid h-100">
    <div class="row h-100">
		<%= render 'partials/nav' %>
		<div class="col">
			<div class="col-12">
				<h1 class="col-6 text-center mx-auto mt-5 mb-5">Hello, <%= current_user.username %></h1>
			</div>
	<!-- 	<p id="notice"><%#= notice %></p> -->
			<div class="col-xs-12 col-md-6 mx-auto">
				<div id="accordion">
					<% @categories_months.each do |month, categories| %>
					<div class="card parent-date">

						<div class="card-header bg-info" id="headingOne">
							<h5 class="mb-0">
								<button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
								<strong><%= month.strftime('%B, %Y') %></strong>
								</button>
							</h5>
						</div>

						<div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
							<div class="container">
								<% for category in categories %>
									<div class="card mt-3">
										<div class="card-header"><strong><%= category.name %> on <%= category.category_create_date.to_date.to_s(:long) %></strong></div>
										<% category.products.each do |product| %>
											<li class="list-group-item"> <%= product.name %></li>
											<li class="product-price list-group-item"><%= product.price %></li>
										<% end %>
									</div>
								<% end %>
								<li class="categories-total list-group-item bg-warning"><strong>Total: </strong></li>
							</div>
						</div>
					</div>  
					<% end %> 
				</div>
			</div>
		</div>
	</div>
</div>
<% else %>
	<h3>Please sign in</h3>
	<li>
		<%= link_to("Login", new_user_session_path)  %>  
	</li>
<% end %>