<% if user_signed_in? %>
	<div>Hello, <%= current_user.email %></div>
	<p id="notice"><%= notice %></p>

	<tbody>
		<% @categories_months.each do |month, categories| %>
		<strong><%= month.strftime('%B, %Y') %></strong>
			<tr>
			<% for category in categories %>
				<div>
					<p><%= category.name %> on <%= category.category_create_date.to_date.to_s(:long) %></p>
				</div>
			<% end %>
			</tr>    
		<% end %>   
	</tbody>

	<li>
		<%= link_to('Logout', destroy_user_session_path, method: :delete) %>        
	</li>
<% else %>
	<h3>Please sign in</h3>
	<li>
		<%= link_to('Login', new_user_session_path)  %>  
	</li>
<% end %>